.home {
  display: flex;
  align-items: center;

  .center {
    flex: 1 1 auto;

    // .cart {
    //   background-color: burlywood;
    //   border: 0/5px solid rgb(205, 177, 232);
    //   border-radius: 10px;
    //   width: 49%;
    //   // height: fit-content;
    //   margin-left: 50%;
    //   padding-right: 1%;
    // }
  }
}
