.app {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;

  background-color: rgb(231, 217, 182);
}

.dark {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 22px;

  background-color: rgb(52, 44, 44);
}
